@import url("./variables.scss");
@import url("./themes/light.scss");
@import url("./themes/dark.scss");


*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--inverted-bg-color);
  font: var(--font-m);
}